* {
  /* font-family: Comfortaa; */
  /* font-family: 'Patrick Hand', cursive; */
  /* font-family: 'Indie Flower', cursive; */
}

@font-face {
  font-family: 'mechanical-font';
  src: url('./files/MechanicalDemoRegular-RpRGv.ttf');
}

@font-face {
  font-family: 'barbs_font1';
  src: url('./files/Slimbots-7ZJD.ttf');
}

@font-face {
  font-family: 'barbs_font2';
  src: url('./files/Slimbots-Kq0e.ttf');
}

@font-face {
  font-family: 'barbs_font3';
  src: url('./files/SlimbotsItalic-2V1X.ttf');
}

@font-face {
  font-family: 'barbs_font4';
  src: url('./files/SlimbotsItalic-wM09.ttf');
}

@import url("https://www.fontspace.com/mechanical-font-f95917");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

/* Styles for screens with a width of at least 360px (typical for small Android phones) */
@media screen and (min-width: 360px) {
  .ifIneedit {
    min-width: 200px;
    /* Minimum width for the element on Android phones */
    max-width: 400px;
    /* Maximum width for the element on Android phones */

    /* Same font size for Android phones */
  }
}

/* Styles for screens with a width of at least 768px (typical for larger Android devices or tablets) */
@media screen and (min-width: 768px) {
  .ifIneedit {
    text-size-adjust: auto;
    min-width: 300px;
    /* Minimum width for the element on larger Android devices */
    max-width: 600px;
    /* Maximum width for the element on larger Android devices */

    /* Same font size for Android phones */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    color: black
  }
}

@media (min-width: 360px) {
  .smallScreen_control {
    margin-left: 10vw;
  }

}

html {
  scroll-behavior: smooth;
  font-weight: bold;
}

span {
  margin-left: 1.5%;
  margin-top: 1.5%;
  font-family: 'Indie Flower', cursive;
}

.link {
  position: fixed;
  font-size: 1vw;
  margin-left: 0%;
  margin-top: 20%;
  font-family: barbs_font1;
  letter-spacing: 5px;
  line-height: 180%;
  color: black;
  width: 12%;
  list-style: none;
  text-decoration: none
}

.link_menu {
  list-style: none;
  text-decoration: none
}

.nav-width {
  width: 200px;
}

.resume {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.lheader {
  margin-left: 2.5%;
}

.home .shawnbio {
  max-width: 60%;
  /* color: white; */
}


.main_content {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 9%;
}

.home div {
  font-weight: bold;
}

.textarea_home {
  height: 50vw;
}

.focus {
  font-size: 4vw;
  /* Adjust this value as needed */
  font-weight: bold;
  /* text-shadow: 0.8vw 0.8vw 0.8vw #3f3f3f; */
  margin-top: 5%;
  text-align: center;
  /* Move to the top */
}

.title {
  font-size: 2vw;
  /* Adjust this value as needed */
  font-weight: bold;
  /* text-shadow: 0.8vw 0.8vw 0.8vw #3f3f3f; */
  font-family: "barbs_font1";
  letter-spacing: 10px;
  align-items: center;
  text-align: center;
  margin-left: 2%;
  margin-top: 32%
}

.spring_body {
  margin-left: 45%;
  margin-top: 13%;
  margin-bottom: 5%;
}

.clock {
  width: 10vw;
  height: 10vw;
  margin-top: 4%;
  position: absolute;
}

.wheel {
  width: 100%;
  height: 100%;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  animation: rotate 10s linear infinite;
}

.wheel2 {
  width: 100%;
  height: 100%;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  animation: rotate 12s linear infinite;
}

.wheel3 {
  width: 100%;
  height: 100%;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  animation: rotate 14s linear infinite;
}

.wheel4 {
  width: 100%;
  height: 100%;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  animation: rotate 16s linear infinite;
}

.wheel5 {
  width: 100%;
  height: 100%;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  animation: rotate 18s linear infinite;
}


.leaf {
  width: 1vw;
  height: 5vw;
  background-color: black;
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}

.leaf:nth-child(2) {
  transform: rotate(90deg);
}

.leaf:nth-child(3) {
  transform: rotate(180deg);
}

.leaf:nth-child(4) {
  transform: rotate(270deg);
}

.clock2 {
  width: 10vw;
  height: 10vw;
  margin-top: 3%;
  position: absolute;
}

.leaf2 {
  width: 1vw;
  height: 5vw;
  background-color: rgb(46, 46, 46);
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}

.leaf2:nth-child(2) {
  transform: rotate(90deg);
}

.leaf2:nth-child(3) {
  transform: rotate(180deg);
}

.leaf2:nth-child(4) {
  transform: rotate(270deg);
}

.clock3 {
  width: 10vw;
  height: 10vw;
  margin-top: 2%;
  position: absolute;
}

.leaf3 {
  width: 1vw;
  height: 5vw;
  background-color: rgb(93, 93, 93);
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}

.leaf3:nth-child(2) {
  transform: rotate(90deg);
}

.leaf3:nth-child(3) {
  transform: rotate(180deg);
}

.leaf3:nth-child(4) {
  transform: rotate(270deg);
}

.clock4 {
  width: 10vw;
  height: 10vw;
  margin-top: 1%;
  position: absolute;
}

.leaf4 {
  width: 1vw;
  height: 5vw;
  background-color: rgb(144, 144, 144);
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}

.leaf4:nth-child(2) {
  transform: rotate(90deg);
}

.leaf4:nth-child(3) {
  transform: rotate(180deg);
}

.leaf4:nth-child(4) {
  transform: rotate(270deg);
}

.clock5 {
  width: 10vw;
  height: 10vw;
  margin-top: 0%;
  position: absolute;
}

.leaf5 {
  width: 1vw;
  height: 5vw;
  background-color: rgb(211, 211, 211);
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -1vw;
  border-radius: 50px 50px 0 0;
}

.leaf5:nth-child(2) {
  transform: rotate(90deg);
}

.leaf5:nth-child(3) {
  transform: rotate(180deg);
}

.leaf5:nth-child(4) {
  transform: rotate(270deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pageheight {
  height: 45vw;
}

.pageControl {
  height: 20%;
}

.page1text {
  position: absolute;
  font-size: 1vw;
  width: 20%;
  margin-left: 52%;
  margin-top: 0%;
}

.page1text h4::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.page1text h4:hover::before {
  transform: scaleX(1.1);
  transform-origin: bottom right;
  background: hsl(0, 0%, 85%);
}

.page1text h4::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform .6s ease;
  border-radius: 10px;
}

.page2text {
  position: absolute;
  font-size: 1vw;
  width: 20%;
  margin-left: 28%;
  margin-top: 10.5%;
  text-align: right;
}

.page2text h4::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.page2text h4:hover::before {
  transform: scaleX(1.1);
  transform-origin: bottom left;
  background: hsl(0, 0%, 85%);
}

.page2text h4::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform .6s ease;
  border-radius: 10px;
}

.page3text {
  position: absolute;
  font-size: 1vw;
  width: 20%;
  margin-left: 52.4%;
  margin-top: 21%;
  text-align: left;
}

.page3text h4::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.page3text h4:hover::before {
  transform: scaleX(1.1);
  transform-origin: bottom right;
  background: hsl(0, 0%, 85%);
}

.page3text h4::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform .6s ease;
  border-radius: 10px;
}

.page4text {
  position: absolute;
  font-size: 1vw;
  width: 20%;
  text-align: center;
  width: 100%;
  margin-top: 36%;
}

.page4text h4::before {
  transform: scaleX(0);
  transform-origin: top;
}

.page4text h4:hover::before {
  transform: scaleX(0.6);
  transform-origin: bottom;
  background: hsl(0, 0%, 85%);
}

.page4text h4::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform .6s ease;
  border-radius: 10px;
}

.lines1 {
  margin-left: 50%;
  position: absolute;
  height: 34vw;
  background: rgb(13, 67, 21);
  padding: 0.25rem;

}

.lines2 {
  position: absolute;
  margin-left: 40vw;
  background: rgb(63, 81, 182);
  padding: 0.25rem;
  width: 40vw;

}

.lines3 {
  position: absolute;
  margin-left: 20%;
  margin-top: 10.5%;
  background: rgb(135, 40, 50);
  padding: 0.25rem;
  width: 40%;
}

.lines4 {
  position: absolute;
  background: rgb(125, 125, 125);
  margin-left: 27%;
  margin-top: 21%;
  padding: 0.25rem;
  width: 40%;

}

.lines5 {
  position: absolute;
  margin-left: 24%;
  margin-top: -6%;
  width: 40%;
  height: 8vw;
  width: 8vw;
  background-color: white;
  border: solid 0.50rem rgb(255, 89, 89);

}

.lines6 {
  position: absolute;
  margin-left: 30%;
  margin-top: -3%;
  width: 40%;
  height: 8vw;
  width: 8vw;
  background-color: white;
  border: solid 0.50rem pink;
}

.page2h2 {
  text-align: center;
}

.page2layout {

  background-color: #3a3a3a;
  color: #fff;

  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20vh;
  margin-top: 20vh;

  height: 100%;
  min-width: 100px;

}

.skill_layout li:hover {
  background-color: #777;
  border-radius: 5px;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.database_layout li:hover {
  background-color: #777;
  border-radius: 5px;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.tool_layout li:hover {
  background-color: #777;
  border-radius: 5px;
  text-shadow: 3px 3px rgb(0, 0, 0);
}

.text_center {
  text-align: center;
  align-items: center;
}

.skill_layout {
  display: grid;
  columns: 3;
  grid-template-columns: auto auto auto;
}

.skill_text {
  color: rgb(255, 255, 255);
  /* 
  overflow: hidden;
  white-space: nowrap; */
  font-size: 3vw;
  text-shadow: 5px 5px #777777;
  align-items: center;
  text-align: center;
  font-size: 5vw;
}

.techinical_skill_page {
  margin-top: 500px;
}


.database_layout {
  columns: 3;
}

.tool_layout {
  columns: 3;
}

.page2Exp {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
}

.page3layout {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;

}

.page3_list_control {
  columns: 2;
}

.text-container {


  cursor: pointer;
  width: 92%;
  overflow: hidden;
  white-space: nowrap;

  align-items: center;

}

.page2h2 {
  text-align: center;
  align-items: center;
}

.text {
  color: rgb(255, 255, 255);
  /* 
  overflow: hidden;
  white-space: nowrap; */
  align-items: center;
  text-align: center;
  font-size: 5vw;

}


/* .text:hover {
  content: attr(data-text);
  color: #969696;
  text-shadow: #b9b9b9;
  position: absolute;
  top: 0;
  left: 10;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 3vw;
  text-align: right;
} */


/* .text.revealed::before {
  width: 100%;
} */

/* .text-container:hover .text.revealed::before {
  animation: none;
}  */

/* .text-container:hover .text::before {
  width: 500%;
  animation: revealText 2s steps(5000) forwards;
} */

@keyframes revealText {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}