$target: black;


.wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12.5vw;
  height: 2.5vw;
  white-space: nowrap;
}

.focus {
  position: absolute;
  font-size: 5vw;
  top: 2.5vw;
  left: -100%;
  transform: translateY(-50%);

  text-transform: uppercase;
  letter-spacing: 2.8px;
  filter: blur(3px);

  opacity: 0.8;
  color: rgb(0, 0, 0);
}

.mask {

  position: absolute;
  left: -100%;

  width: 19vw;

  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 5vw;
  clip: rect(0px, 19vw, 15vw, 0px);
  background: linear-gradient($target, $target 0) no-repeat,
    linear-gradient(to right, $target, $target 0) no-repeat,
    linear-gradient(to right, $target, $target 0) bottom left no-repeat,
    linear-gradient(to right, $target, $target 0) bottom left no-repeat,
    linear-gradient($target, $target 0) bottom right no-repeat,
    linear-gradient($target, $target 0) bottom right no-repeat,
    linear-gradient($target, $target 0) top right no-repeat,
    linear-gradient($target, $target 0) top right no-repeat;
  background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
  color: #f2f2f2;

  transform: translateX(0);
  box-sizing: border-box;
  filter: blur(1px);
  animation: mask 2.5s ease infinite alternate;
}

.text {
  transform: translateX(0);
  animation: text 2.5s ease infinite alternate;
}

@keyframes mask {
  to {
    transform: translateX(24vw);
  }
}

@keyframes text {
  to {
    transform: translateX(-22vw);
  }
}