* {
  /* font-family: Comfortaa; */
  font-family: Comfortaa;
  /* font-family: 'Patrick Hand', cursive; */
  /* font-family: 'Indie Flower', cursive; */
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

/* Styles for screens with a width of at least 360px (typical for small Android phones) */
@media screen and (min-width: 360px) {
  .your-element {
    min-width: 200px;
    /* Minimum width for the element on Android phones */
    max-width: 400px;
    /* Maximum width for the element on Android phones */
    font-size: 16px;
    /* Same font size for Android phones */
  }
}

/* Styles for screens with a width of at least 768px (typical for larger Android devices or tablets) */
@media screen and (min-width: 768px) {
  .your-element {
    min-width: 300px;
    /* Minimum width for the element on larger Android devices */
    max-width: 600px;
    /* Maximum width for the element on larger Android devices */
    font-size: 16px;
    /* Same font size for Android phones */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color:black
  }
}

html {
  scroll-behavior: smooth;
  cursor: alias;
  font-weight: bold;
}

span {
  margin-left: 1.5%;
  margin-top: 1.5%;
  font-family: 'Indie Flower', cursive;
}

body {
  height: 100vh;
  background-color: #ffffff;
  /* background: linear-gradient(to right,
      white 0%,
      rgb(175, 175, 175) 50%,
      rgb(103, 103, 103) 50%,
      rgb(255, 255, 255) 100%); */
}

.nav-width{
  width: 105px;
}
.resume {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.lheader {
  margin-left: 2.5%;
}

.link {
  position: fixed;
  margin-left: 0%;
  width: 12%;
}

.link-menu {
  list-style: none;
}

.home .shawnbio {
  max-width: 60%;
  /* color: white; */
}

.home {
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 9%;
}

.home div {
  font-weight: bold;
}

.name {
  font-size: 4vw;
  /* Adjust this value as needed */
  font-weight: bold;
  /* text-shadow: 0.8vw 0.8vw 0.8vw #3f3f3f; */
  font-family: Comfortaa;
  margin-top: 5%;
  text-align: center;
  /* Move to the top */


}

.title {
  font-size: 2vw;
  /* Adjust this value as needed */
  font-weight: bold;
  /* text-shadow: 0.8vw 0.8vw 0.8vw #3f3f3f; */
  font-family: Comfortaa;
  margin-top: 10%;
  margin-left: 38%;

}

.typearea,
.typearea_application {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;

}

.typearea_application p {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  /* max-height: 80em; */
  line-height: 1.4em;
  columns: 2;
  margin-right: 20%;
}

.skills {
  text-align: center;
}

.skill-language {
  columns: 3;
}


.home Img {

  height: auto;
  max-width: 40%;
  max-height: 40%;
  border-radius: 20%;
  margin-top: -10px;
  /* Move to the top */
  margin-right: 20%;
}

.appgithub {
  font-size: 2vw;
}

.resumePreview {
  cursor: grab;
}

.experience {
  font-family: Comfortaa;
  height: auto;
  display: inline-block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: auto;
  width: 80%;
  max-height: 40em;
  max-width: 60em;
  line-height: 1.7em;
}

.navber {
  background-color: lightblue;
  height: 10%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-color {
  position: fixed;
  background-color: rgb(218, 127, 127);
  width: 100%;
  height: 15%;
  text-decoration: none;
  margin-top: 0;
}

.tech-table {
  column-count: 2;
  display: flex;
}

.bgcolor {
  /* position: absolute;
  background: linear-gradient(-45deg, #df6d6d 25%, #ffc4c4 25%),
  linear-gradient(75deg, #df6d6d 25%, #ffc4c4 25%),
  linear-gradient(80deg, #df6d6d 25%, #ffc4c4 25%),
  linear-gradient(150deg, #df6d6d 25%, white 25%);
  height: 800%;
  max-width: 100%;
  transition: background-color 0.5s ease; */
  position: absolute;
  /* background-image: linear-gradient(90deg, #e4e8ff 25%, transparent 50%); */
  /* Create stripes using a linear gradient */
  background-size: 10px 10px;
  /* Adjust the size of the stripes */
}