* {
  /* font-family: Comfortaa; */
  /* font-family: 'Patrick Hand', cursive; */
  /* font-family: 'Indie Flower', cursive; */
}
@font-face {
  font-family: 'mechanical-font';
  src: url('./files/MechanicalDemoRegular-RpRGv.ttf');
}
@import url("https://www.fontspace.com/mechanical-font-f95917");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

/* Styles for screens with a width of at least 360px (typical for small Android phones) */
@media screen and (min-width: 360px) {
  .your-element {
    min-width: 200px;
    /* Minimum width for the element on Android phones */
    max-width: 400px;
    /* Maximum width for the element on Android phones */
    font-size: 16px;
    /* Same font size for Android phones */
  }
}

/* Styles for screens with a width of at least 768px (typical for larger Android devices or tablets) */
@media screen and (min-width: 768px) {
  .your-element {
    min-width: 300px;
    /* Minimum width for the element on larger Android devices */
    max-width: 600px;
    /* Maximum width for the element on larger Android devices */
    font-size: 16px;
    /* Same font size for Android phones */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    color: black
  }
}

html {
  scroll-behavior: smooth;
  font-weight: bold;
}

span {
  margin-left: 1.5%;
  margin-top: 1.5%;
  font-family: 'Indie Flower', cursive;
}


.nav-width {
  width: 105px;
}

.resume {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.lheader {
  margin-left: 2.5%;
}

.home .shawnbio {
  max-width: 60%;
  /* color: white; */
}

.wrapper{
  font-family: mechanical-font;
}
.focus{
  font-family: mechanical-font;
}
.mask{
  font-family: mechanical-font;
}
.text{
  font-family: mechanical-font;
}
.main_content {
  margin-top: 5%;

  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 9%;
}

.home div {
  font-weight: bold;
}

.focus {
  font-size: 4vw;
  /* Adjust this value as needed */
  font-weight: bold;
  /* text-shadow: 0.8vw 0.8vw 0.8vw #3f3f3f; */
  margin-top: 5%;
  text-align: center;
  /* Move to the top */
}

.title {
  font-size: 2vw;
  /* Adjust this value as needed */
  font-weight: bold;
  /* text-shadow: 0.8vw 0.8vw 0.8vw #3f3f3f; */
  font-family: mechanical-font;
  align-items: center;
  text-align: center;
  margin: 15%;

}

.iam {
  font-size: 8em;
  color: black;
  font-family:"mechanical-font";
  font-weight: lighter;
}
.spring_body{
  margin-left: 65%;
  margin-top: -28%;
  margin-bottom: 5%;
}

.clock {
  width: 200px;
  height: 200px;
  position: relative;
}

.wheel {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
  animation: rotate 10s linear infinite;
}
.wheel2 {
  width: 100%;
  height: 100%;
  border: 5px solid rgb(64, 64, 64);
  border-radius: 50%;
  position: relative;
  animation: rotate 12s linear infinite;
}
.wheel3 {
  width: 100%;
  height: 100%;
  border: 5px solid rgb(128, 128, 128);
  border-radius: 50%;
  position: relative;
  animation: rotate 14s linear infinite;
}
.wheel4 {
  width: 100%;
  height: 100%;
  border: 5px solid rgb(151, 151, 151);
  border-radius: 50%;
  position: relative;
  animation: rotate 16s linear infinite;
}


.leaf {
  width: 20px;
  height: 100px;
  background-color: black;
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}
.leaf:nth-child(2) {
  transform: rotate(90deg);
}

.leaf:nth-child(3) {
  transform: rotate(180deg);
}

.leaf:nth-child(4) {
  transform: rotate(270deg);
}
.leaf2 {
  width: 20px;
  height: 100px;
  background-color: rgb(46, 46, 46);
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}
.leaf2:nth-child(2) {
  transform: rotate(90deg);
}

.leaf2:nth-child(3) {
  transform: rotate(180deg);
}

.leaf2:nth-child(4) {
  transform: rotate(270deg);
}

.leaf3 {
  width: 20px;
  height: 100px;
  background-color: rgb(93, 93, 93);
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}
.leaf3:nth-child(2) {
  transform: rotate(90deg);
}

.leaf3:nth-child(3) {
  transform: rotate(180deg);
}

.leaf3:nth-child(4) {
  transform: rotate(270deg);
}

.leaf4 {
  width: 20px;
  height: 100px;
  background-color: rgb(144, 144, 144);
  position: absolute;
  transform-origin: bottom;
  top: 0;
  left: 50%;
  margin-left: -10px;
  border-radius: 50px 50px 0 0;
}
.leaf4:nth-child(2) {
  transform: rotate(90deg);
}

.leaf4:nth-child(3) {
  transform: rotate(180deg);
}

.leaf4:nth-child(4) {
  transform: rotate(270deg);
}





@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


.textarea_home {
  height: 200vh;
}

.typeare_personality {
  height: 100vh;
}

.typeare_personality h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.typeare_personality h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  background: hsl(0, 100%, 90%);
}

.typeare_personality h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform .6s ease;
  border-radius: 10px;
}

.typeare_personality h1 {
  position: relative;
  font-size: 2rem;
}

.typearea {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.typearea-experience {
  height: 100%;

}

.typearea_application {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;

}




.typearea body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

.skills {
  text-align: center;
}

.skill_wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
}


.appgithub {
  font-size: 1.5vw;
}

.resumePreview {
  cursor: grab;
}

.tech-table {
  column-count: 2;
  display: flex;
}

.link {
  position: fixed;
  margin-left: 0%;
  width: 12%;
  list-style: none;
}